<!DOCTYPE html>
<html>
<head>
  <title>The Materialize Selects Example</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>

  <script>
  // Função para retornar a tela inicial depois 5 segundos
  $(document).ready(function() {
	  window.setTimeout(function(){window.location.href = "/";}, 5000);
  });
  </script>
  
</head>
<body class="container">
	<div align="center">
		<i class="material-icons center " style="font-size: 500px;">cloud_done</i>
	</div>
	<div align="center">
		<h1>Cadastrado com sucesso!</h1>
	</div>
</body>
</html>