<!DOCTYPE html>
<html>
<head>
  <title>Mentoriza</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width = device-width, initial-scale = 1" />
</head>
<body class="container">
	
	<div class="card-panel" align="center" style="background-color: #0c80ac;">
		<h3 style="font-size:4vw;"><font face="Holtwood One SC, serif" color="white">MENTORIZA</font></h3>
	</div>
	<br>
	<div class="row">
		<div>
			<p style="text-align: justify; text-justify: inter-word;">Olá <b>NOME</b>,</p>
			<p style="text-align: justify; text-justify: inter-word;">O seu cadastro para o projeto Mentoriza foi finalizado com sucesso.</p>
			<p style="text-align: justify; text-justify: inter-word;">Estamos buscando impactar a educação no Brasil e ficamos muito felizes com o seu interesse em participar!</p>
			<p style="text-align: justify; text-justify: inter-word;">Nós entraremos em contato em breve. Fique ligado nas nossas redes sociais para mais informações.</p>
			<p style="text-align: justify; text-justify: inter-word;">Obrigado!</p>
			<p style="text-align: justify; text-justify: inter-word;">Atenciosamente,</p>
			<p style="text-align: justify; text-justify: inter-word;">Equipe Mentoriza</p>
		</div>
		<br>
	</div>
</body>
</html>