<!DOCTYPE html>
<html>
<head>
	<title>Mentorandos - Processo Seletivo</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width = device-width, initial-scale = 1" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script>
	
	// Função executada ao carregar a página
	$(document).ready(function() {
		
		// Função validar data de nascimento
		function validarNascimento(){
			var nascimento = document.getElementById("nascimento").value;
			var partesNascimento = nascimento.split("/");
			var data = new Date(partesNascimento[2], partesNascimento[1] - 1, partesNascimento[0]);

			if (partesNascimento[0] > 31) {
				alert("Data de nascimento inválida! Dia digitado não existe.");
				return false;
			}
			if (partesNascimento[1] > 12) {
				alert("Data de nascimento inválida! Mês digitado não existe.");
				return false;
			}
			
			if(data > new Date()){
				alert("A data de nascimento é maior que a data atual!");
				return false;
			}
			
			return true;
		}
		
		// Função para mascarar a data de nascimento
		$('#nascimento').mask('00/00/0000');
		
		// Funçã para mascarar telefone
		$('#telefone').mask('(00) 0 0000-0000');
		
		 // Função para validar o preenchimento de todos os campos
		 $("#cadastrar").click(function validarTodosCampos(){
			var inputs = document.getElementsByTagName("input");
			var selects = document.getElementsByTagName("select");
		  
			for (var i = 0; i < inputs.length; i++) {
				inputs[i].style.background = "#ffffff";
				if (inputs[i].value == undefined || inputs[i].value == null || inputs[i].value == "") {
					inputs[i].focus();
					inputs[i].style.background = "#ef9a9a";
					alert("Preencha o campo " + inputs[i].getAttribute("id"));
					return false;
				}
			}
			
			for (var i = 0; i < selects.length; i++) {
				if (selects[i].value == undefined || selects[i].value == null || selects[i].value == "") {
					selects[i].focus();
					alert("Preencha o campo " + selects[i].getAttribute("id"));
					return false;
				}
			}
			
			if (validarNascimento() == false) {
				return false;
			}
			
			return true
		});
	});
  
	// Função para iniciar o input counter
	$(document).ready(function() {
		$('input#questao5, input#questao2B').characterCounter();
	});
	
	// Função para carregar lista de cidades da API do IBGE 
	function carregarCidades(){
	$('select#cidade').empty();
		var uf = document.getElementById("estado").value;
	   var listaCidades;
	var xmlHttp = new XMLHttpRequest();
	   xmlHttp.open( "GET", "https://servicodados.ibge.gov.br/api/v1/localidades/estados/"+uf+"/distritos?orderBy=nome", false);
	xmlHttp.send(null);
	listaCidades = JSON.parse(xmlHttp.response);
	
	for (var i = 0; i < listaCidades.length; i++){
		if (i == 0){
			$('select#cidades').append($('<option>', {
			    value: "",
			    text: "Selecione",
			    disabled: true,
			    selected: true
			}));
		}
		$('select#cidade').append($('<option>', {
		    value: i,
		    text: listaCidades[i].nome
		}));
	   }
	$('select#cidade').formSelect();
	  }
	
	// Função para inicializar todos os selects
	$(document).ready(function(){
	  $('select').formSelect();
	});
    
	</script>
  
</head>
<body class="container">

	<div class="card-panel" align="center" style="background-color: #0c80ac">
		<h1 style="font-size:4vw;"><font face="Holtwood One SC, serif" color="white">MENTORIZA</font></h1>
	</div>
	<nav>
		<div class="nav-wrapper" style="background-color: #54c4db">
			<div class="row">
				<div class="col s12">
					<a href="/" class="breadcrumb">Início</a> 
					<a href="/formMentorandos" class="breadcrumb">Processo Mentorandos</a>
				</div>
			</div>
		</div>
	</nav>
	<br>
	<div style="text-align: justify; text-justify: inter-word;">
		A Programa de Mentoria "Educação em tempos de Covid" é uma iniciativa da Eductus em apoio ao corpo estudantil afetado pela suspensão das aulas por conta da Pandemia por Corona Vírus.<br><br> 
		Iremos te conectar a um(a) estudante que precisa de suporte de preparação para o Exame Nacional do Ensino Médio - ENEM e oferecer suporte em áreas de desenvolvimento pessoal.<br><br>
		O Programa será online e você pode estar em qualquer parte do país. Durante o Programa:<br>
		<ul>
			<li>Deverá realizar uma reunião semanal com o(a) mentorando(a). Note que o intuito dessas reuniões é guiar o mentorando a como estudar nessa matéria específica e responder dúvidas acadêmicas. Iremos te ajudar na produção de materiais informativos sobre empresas e plataformas de ensino gratuitos que podem ser utilizadas nos estudos;</li>
			<li>Terá acesso a atividades como oficinas e lives sobre temas como: saúde mental, produtividade e organização, entre outros.</li>
		</ul>
		Duração: 3 meses <br><br>
		O programa é gratuito<br><br>
		A disponibilidade de carga horária necessária para participação da mentoria é de 4 horas semanais. <br><br>
		Mentores e Mentorandos assinarão termos de compromisso e vão receber certificado.<br><br>
		Tem alguma dúvida? Envie um email para eductus.me@gmail.com
		<blockquote>Este formulário também tem o objetivo de entender qual área você precisa de mais ajuda em relação a sua preparação para o ENEM. Na "QUESTÃO CHAVE" faça um ranking pessoal e coloque em 1º, 2º e 3º lugar as matérias com maior dificuldade e responda o formulário de acordo com o grau de dificuldade das matérias. Por exemplo, "OPÇÃO 1" - a matéria que ficou em primeiro lugar e assim por diante. </blockquote>
	</div>
	
	<br><br>
	
	<div class="card-panel teal lighten-2 #bdbdbd grey lighten-1" align="left">
		<span><i class="material-icons left">assignment_ind</i>Dados pessoais</span>
	</div>
	
	<form action="/cadastrarMentorandos" class="col s12" method="POST">
		<div class="row">
			<div class="input-field col s12">
				<label>E-mail</label><br>
				<input type="text" id="email" name="email"><br>
			</div>
			<div class="input-field col s12">
				<label>Nome Completo</label><br>
				<input type="text" id="nome" name="nome"><br>
			</div>
			<div class="input-field col s12">
				<label>Número Celular</label><br>
				<input type="text" id="telefone" name="telefone" placeholder="(00) 9 0000-0000"><br>
			</div>	
			<div class="input-field col s12">
				<label>Data de Nascimento</label><br>
				<input type="text" id="nascimento" name="nascimento" placeholder="dd/mm/aaaa"><br>
			</div>		
			<div class="input-field col s12">
				<label>Estado</label><br><br>
			    <select name="estado" id="estado" onchange="carregarCidades()">
				    	<option value="" disabled selected>Selecione</option>
					    <option value="AC">Acre</option>
					    <option value="AL">Alagoas</option>
					    <option value="AP">Amapá</option>
					    <option value="AM">Amazonas</option>
					    <option value="BA">Bahia</option>
					    <option value="CE">Ceará</option>
					    <option value="DF">Distrito Federal</option>
					    <option value="ES">Espírito Santo</option>
					    <option value="GO">Goiás</option>
					    <option value="RO">Rondônia</option>
					    <option value="RR">Roraima</option>
					    <option value="MA">Maranhão</option>
					    <option value="MS">Mato Grosso do Sul</option>
					    <option value="MT">Mato Grosso</option>
					    <option value="MG">Minas Gerais</option>
					    <option value="PA">Pará</option>
					    <option value="PB">Paraíba</option>
					    <option value="PR">Paraná</option>
					    <option value="PE">Pernambuco</option>
					    <option value="PI">Piauí</option>
					    <option value="RJ">Rio de Janeiro</option>
					    <option value="RN">Rio Grande do Norte</option>
					    <option value="RS">Rio Grande do Sul</option>
					    <option value="SC">Santa Catarina</option>
					    <option value="SP">São Paulo</option>
					    <option value="SE">Sergipe</option>
					    <option value="TO">Tocantins</option>
			    </select>
			</div>
			<div class="input-field col s12">
				<label>Cidade</label><br><br>
				<select name="cidade" id="cidade">
					<option value="false" disabled selected>Selecione</option>
				</select>
			</div>	
		</div>
		<div class="card-panel teal lighten-2 #bdbdbd grey lighten-1" align="left">
			<span><i class="material-icons left">assignment_ind</i>Questionário</span>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<label>1.Suas aulas foram suspensas devido ao Corona Vírus?</label><br><br>
				<select id="questao1" name="questao1">
					<option value="" selected disabled>Selecione</option>
					<option value="1">Sim, não estou tendo aulas de nenhuma forma</option>
					<option value="2">Não, estou tendo aulas EAD (à distância, online)</option>
					<option value="0">Outros</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>2.A - Concluiu o ensino médio?</label><br><br>
				<select name="questao2A" id="questao2A" >
					<option value="" selected disabled>Selecione</option>
					<option value="sim">Sim</option>
					<option value="nao">Não</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>2.B - Nome da escola em que você estuda/concluiu?</label><br><br>
				<input type="text" id="questao2B" name="questao2B" data-length = "100" maxlength = "100">
			</div>
			<div class="input-field col s12">
				<label>3.Qual seu ano escolar?</label><br><br>
				<select name="questao3" id="questao3">
					<option value="" selected disabled>Selecione</option>
					<option value="1">1º Ano do ensino médio</option>
					<option value="2">2º Ano do ensino médio</option>
					<option value="3">3º Ano do ensino médio</option>
					<option value="4">4º Ano do ensino médio</option>
					<option value="5">Ensino médio técnico</option>
					<option value="6">Ensino médio finalizado e estou estudando para o ENEM</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>4.Qual tipo de instituição você estuda?</label><br><br>
				<select id="questao4" name="questao4">
					<option value="" selected disabled>Selecione</option>
					<option value="1">Escola Privada</option>
					<option value="2">Instituto Federal</option>
					<option value="3">Escola Militar</option>
					<option value="4">Escola pública</option>
					<option value="0">Outros</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>5.Por que você quer participar do programa de mentoria?</label><br><br>
				<input type="text" id="questao5" name="questao5" data-length = "100" maxlength = "100">
			</div>
			<div class="input-field col s12">
				<label>6.Assinale a sua PRIMEIRA opção de matéria para receber mentoria.</label><br><br>
				<select id="questao6" name="questao6">
					<option value="" selected disabled>Primeia opção</option>
					<option value="1">1 - Física</option>
					<option value="2">2 - Química</option>
					<option value="3">3 - Biologia</option>
					<option value="4">4 - Matemática </option>
					<option value="5">5 - História</option>
					<option value="6">6 - Geografia </option>
					<option value="7">7 - Filosofia</option>
					<option value="8">8 - Sociologia</option>
					<option value="9">9 - Gramática</option>
					<option value="10">10 - Literatura</option>
					<option value="11">11 - Redação</option>
					<option value="12">12 - Inglês</option>
					<option value="13">13 - Espanhol</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>7.Assinale a sua SEGUNDA opção de matéria para receber mentoria.</label><br><br>
				<select id="questao7" name="questao7">
					<option value="" selected disabled>Segunda opção</option>
					<option value="1">1 - Física</option>
					<option value="2">2 - Química</option>
					<option value="3">3 - Biologia</option>
					<option value="4">4 - Matemática </option>
					<option value="5">5 - História</option>
					<option value="6">6 - Geografia </option>
					<option value="7">7 - Filosofia</option>
					<option value="8">8 - Sociologia</option>
					<option value="9">9 - Gramática</option>
					<option value="10">10 - Literatura</option>
					<option value="11">11 - Redação</option>
					<option value="12">12 - Inglês</option>
					<option value="13">13 - Espanhol</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>8.Você tem acesso a uma internet que te possibilite fazer vídeo chamadas e ver lives?</label><br><br><br>
				<select id="questao8" name="questao8">
						<option value="" selected disabled>Selecione</option>
						<option value="sim" >Sim</option>
						<option value="nao" >Não</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>9.Você tem disponibilidade 4 horas semanais para o programa?</label><br><br>
				<select id="questao9" name="questao9">
						<option value="" selected disabled>Selecione</option>
						<option value="sim" >Sim</option>
						<option value="nao" >Não</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>10.Qual a sua disponibilidade para a mentoria?</label><br><br>
				<select multiple id="questao10" name="questao10">
					<option value="" disabled>Selecione</option>
					<option value="manha" >Manhã</option>
					<option value="tarde" >Tarde</option>
					<option value="noite" >Noite</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>11.Como você ficou sabendo desta iniciativa?</label><br><br>
				<select id="questao11" name="questao11">
					<option value="" selected disabled>Selecione</option>
					<option value="1" >Instagram</option>
					<option value="2" >Facebook</option>
					<option value="3" >WhatsApp</option>
					<option value="4" >Amigos</option>
					<option value="5" >Outros</option>
				</select>
			</div>
			<div class="input-field col s12">
				<a class="btn waves-effect waves-light" style="background-color: #f46c3c" href="/"><i class="material-icons left">backspace</i>Voltar</a>
				<button class="btn waves-effect waves-light" style="background-color: #54c4db" type="submit" id="cadastrar">Enviar<i class="material-icons right">send</i></button><br><br>
			</div>
		</div>
	</form>

</body>
</html>