<!DOCTYPE html>
<html>
<head>
	<title>Mentorandos - Processo Seletivo</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width = device-width, initial-scale = 1" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script>
	
	// Função executada ao carregar a página
	$(document).ready(function() {
		
		// Função para habilitar ou desabilitar questão 15
		function desabilitarQuestao15(){
			var questao14 = document.getElementById("questao14").value;
			var questao15 = document.getElementById("questao15");
			
			if (questao14 == 6) {
				questao15.disabled = false;
			}
			else {
				questao15.disabled = true;
				questao15.value = "";
			}
			
		}
		
		// Executar ao alterar selecet
		$("#questao14").on("change", desabilitarQuestao15);
		
		// Carregar cidades ao voltar a página
		var estado = document.getElementById("estado").value;
		
		if (estado != undefined || estado != "") {
			carregarCidades();
		}
		
		// Função validar data de nascimento
		function validarNascimento(){
			var nascimento = document.getElementById("nascimento").value;
			var partesNascimento = nascimento.split("/");
			var data = new Date(partesNascimento[2], partesNascimento[1] - 1, partesNascimento[0]);

			if (partesNascimento[0] > 31) {
				alert("Data de nascimento inválida! Dia digitado não existe.");
				return false;
			}
			if (partesNascimento[1] > 12) {
				alert("Data de nascimento inválida! Mês digitado não existe.");
				return false;
			}
			
			if(data > new Date()){
				alert("A data de nascimento é maior que a data atual!");
				return false;
			}
			
			return true;
		}
	
		// Função para mascarar a data de nascimento
		$('#nascimento').mask('00/00/0000');
		
		// Funçã para mascarar telefone
		$('#telefone').mask('(00) 0 0000-0000');
		
		// Função para remover disabled antes do submit do form
		$('form').submit(function(e) {
			$(':disabled').each(function(e) {
			$(this).removeAttr('disabled');
			})
		});
		
		// Função para mudar a questao 1A
		mudar1A();
		
		// Função para mudar a questao 3
		mudar3();
		

		 // Função para validar o preenchimento de todos os campos
		 $("#cadastrar").click(function validarTodosCampos(){
			var inputs = document.getElementsByTagName("input");
			var selects = document.getElementsByTagName("select");
		  
			for (var i = 0; i < inputs.length; i++) {
				inputs[i].style.background = "#ffffff";
				if (inputs[i].value == undefined || inputs[i].value == null || inputs[i].value == "") {
					if (inputs[i].disabled == true) {
					}
					else{
						inputs[i].focus();
						inputs[i].style.background = "#ef9a9a";
						alert("Preencha o campo " + inputs[i].getAttribute("name"));
						return false;
					}
				}
			}
			
			for (var i = 0; i < selects.length; i++) {
				if (selects[i].value == undefined || selects[i].value == null || selects[i].value == "") {
					if (selects[i].id == "questao3" && document.getElementById("questao2A").value == 1) {
					}
					else{
						alert("Preencha o campo " + selects[i].getAttribute("name"));
						return false;
					}
				}
			}
			
			
			if (validarNascimento() == false) {
				return false;
			}
			
			return true
		});
	});
  	
	// Função para habilitar questão 3
	function mudar3() {
		var questao2A = document.getElementById("questao2A").value;
		var questao3 = document.getElementById("questao3");
		
		if (questao2A == 1){
			questao3.disabled = true;
			questao3.value = "";
		}
		else {
			questao3.disabled = false;
		}
		$('select').formSelect();
	}
	
	// Função para habilitar questão 1A
	function mudar1A() {
		var questao1 = document.getElementById("questao1").value;
		var questao1A = document.getElementById("questao1A");
		
		if (questao1 == 0){
			questao1A.disabled = false;
		}
		else {
			questao1A.disabled = true;
			questao1A.value = "";
		}
		$('select').formSelect();
	}
	
	// Função para iniciar o input counter
	$(document).ready(function() {
		$('input#questao5, input#questao2B, input#questao15').characterCounter();
	});
	
	// Função para carregar lista de cidades da API do IBGE 
	function carregarCidades(){
	$('select#cidade').empty();
		var uf = document.getElementById("estado").value;
	   var listaCidades;
	var xmlHttp = new XMLHttpRequest();
	   xmlHttp.open( "GET", "https://servicodados.ibge.gov.br/api/v1/localidades/estados/"+uf+"/distritos?orderBy=nome", false);
	xmlHttp.send(null);
	listaCidades = JSON.parse(xmlHttp.response);
	
	for (var i = 0; i < listaCidades.length; i++){
		if (i == 0){
			$('select#cidades').append($('<option>', {
			    value: "",
			    text: "Selecione",
			    disabled: true,
			    selected: true
			}));
		}
		$('select#cidade').append($('<option>', {
		    value: i,
		    text: listaCidades[i].nome
		}));
	   }
	$('select#cidade').formSelect();
	  }
	
	// Função para inicializar todos os selects
	$(document).ready(function(){
	  $('select').formSelect();
	});
	
	</script>
  
</head>
<body class="container">

	<div class="card-panel" align="center" style="background-color: #0c80ac">
		<h1 style="font-size:4vw;"><font face="Holtwood One SC, serif" color="white">MENTORIZA</font></h1>
	</div>
	<nav>
		<div class="nav-wrapper" style="background-color: #54c4db">
			<div class="row">
				<div class="col s12">
					<a href="/" class="breadcrumb">Início</a> 
					<a href="/formMentorandos" class="breadcrumb">Processo Mentorandos</a>
				</div>
			</div>
		</div>
	</nav>
	<br>
	<div style="text-align: justify; text-justify: inter-word;">
		<p>O projeto Mentoriza é uma iniciativa sem fins lucrativos da Eductus com o objetivo de auxiliar estudantes ao redor do Brasil que tiveram a educação impactada pela pandemia do coronavírus.</p>
 		<p>Iremos te conectar com um(a) mentor(a) capaz de te auxiliar nos estudos para o Exame Nacional do Ensino Médio - ENEM e oferecer suporte em áreas de desenvolvimento pessoal.</p>
 		O Programa será online e você pode estar em qualquer parte do país. Durante o Programa o participante terá acesso a:<br>
 		<div style="padding-left: 2em">
 				<p> &#8226 Reunião semanal com mentor(a);</p>
 				<p> &#8226 Atividades como oficinas e lives sobre temas como: saúde mental, produtividade e organização, entre outros.</p>
 			</div> 
 		<p><span style="text-decoration: underline">Descrição do programa: </span></p>
 		<div style="padding-left: 2em;">
 			<p>Duração: 2 meses </p>
 			<p>Custo: gratuito</p>
 			<p>Carga horária: 4 horas semanais</p>
 		</div>
 		<p>Mentores e Mentorandos assinarão termos de compromisso e receberão certificados.</p>
 		<p>Tem alguma dúvida? Envie um email para <span style="text-decoration: underline">eductus.me@gmail.com</span></p>
	</div>
	
	<br><br>
	
	<div class="card-panel teal lighten-2 #bdbdbd grey lighten-1" align="left">
		<span><i class="material-icons left">assignment_ind</i>Dados pessoais</span>
	</div>
	
	<form action="/cadastrarMentorandos" class="col s12" method="POST">
		<div class="row">
			<div class="input-field col s12">
				<label>E-mail</label><br>
				<input type="text" id="email" name="email"><br>
			</div>
			<div class="input-field col s12">
				<label>Nome Completo</label><br>
				<input type="text" id="nome" name="nome"><br>
			</div>
			<div class="input-field col s12">
				<label>Número Celular</label><br>
				<input type="text" id="telefone" name="telefone" placeholder="(00) 9 0000-0000"><br>
			</div>	
			<div class="input-field col s12">
				<label>Data de Nascimento</label><br>
				<input type="text" id="nascimento" name="nascimento" placeholder="dd/mm/aaaa"><br>
			</div>		
			<div class="input-field col s12">
				<label>Estado</label><br><br>
			    <select name="estado" id="estado" onchange="carregarCidades()">
				    	<option value="" disabled selected>Selecione</option>
					    <option value="AC">Acre</option>
					    <option value="AL">Alagoas</option>
					    <option value="AP">Amapá</option>
					    <option value="AM">Amazonas</option>
					    <option value="BA">Bahia</option>
					    <option value="CE">Ceará</option>
					    <option value="DF">Distrito Federal</option>
					    <option value="ES">Espírito Santo</option>
					    <option value="GO">Goiás</option>
					    <option value="RO">Rondônia</option>
					    <option value="RR">Roraima</option>
					    <option value="MA">Maranhão</option>
					    <option value="MS">Mato Grosso do Sul</option>
					    <option value="MT">Mato Grosso</option>
					    <option value="MG">Minas Gerais</option>
					    <option value="PA">Pará</option>
					    <option value="PB">Paraíba</option>
					    <option value="PR">Paraná</option>
					    <option value="PE">Pernambuco</option>
					    <option value="PI">Piauí</option>
					    <option value="RJ">Rio de Janeiro</option>
					    <option value="RN">Rio Grande do Norte</option>
					    <option value="RS">Rio Grande do Sul</option>
					    <option value="SC">Santa Catarina</option>
					    <option value="SP">São Paulo</option>
					    <option value="SE">Sergipe</option>
					    <option value="TO">Tocantins</option>
			    </select>
			</div>
			<div class="input-field col s12">
				<label>Cidade</label><br><br>
				<select name="cidade" id="cidade">
					<option value="false" disabled selected>Selecione</option>
				</select>
			</div>	
		</div>
		<div class="card-panel teal lighten-2 #bdbdbd grey lighten-1" align="left">
			<span><i class="material-icons left">assignment_ind</i>Questionário</span>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<label>1. Suas aulas estão suspensas devido ao COVID-19?</label><br><br>
				<select id="questao1" name="questao1" onchange="mudar1A()">
					<option value="" selected disabled>Selecione</option>
					<option value="1">Sim, não estou tendo aulas de nenhuma forma</option>
					<option value="2">Não, estou tendo aulas EAD (à distância, online)</option>
					<option value="0">Outros</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>1.A. Caso a resposta anterior seja "Outros"</label><br><br>
				<input type="text" id="questao1A" name="questao1A" data-length = "100" maxlength = "100">
			</div>
			<div class="input-field col s12">
				<label>2.A. Concluiu o ensino médio?</label><br><br>
				<select name="questao2A" id="questao2A" onchange="mudar3()">
					<option value="" selected disabled>Selecione</option>
					<option value="1">Sim</option>
					<option value="2">Não</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>2.B. Nome da escola em que você estuda/concluiu?</label><br><br>
				<input type="text" id="questao2B" name="questao2B" data-length = "100" maxlength = "100">
			</div>
			<div class="input-field col s12">
				<label>3. Qual seu ano escolar?</label><br><br>
				<select name="questao3" id="questao3">
					<option value="" selected disabled>Selecione</option>
					<option value="1">1º Ano do ensino médio</option>
					<option value="2">2º Ano do ensino médio</option>
					<option value="3">3º Ano do ensino médio</option>
					<option value="4">4º Ano do ensino médio</option>
					<option value="5">Ensino médio técnico</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>4. Qual tipo de instituição você estuda?</label><br><br>
				<select id="questao4" name="questao4">
					<option value="" selected disabled>Selecione</option>
					<option value="1">Escola Privada</option>
					<option value="2">Instituto Federal</option>
					<option value="3">Escola Militar</option>
					<option value="4">Escola municipal/estadual</option>
					<option value="0">Outros</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>5. Faz cursinho pré ENEM?</label><br><br>
				<select id="questao5" name="questao5">
					<option value="" selected disabled>Selecione</option>
					<option value="1">Sim</option>
					<option value="2">Não</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>6. Por que você quer participar do programa de mentoria?</label><br><br>
				<input type="text" id="questao6" name="questao6" data-length = "100" maxlength = "100">
			</div>
			<div class="input-field col s12">
				<label>7. Assinale a sua PRIMEIRA opção de matéria para receber mentoria.</label><br><br>
				<select id="questao7" name="questao7">
					<option value="" selected disabled>Primeira opção</option>
					<option value="1">1 - Física</option>
					<option value="2">2 - Química</option>
					<option value="3">3 - Biologia</option>
					<option value="4">4 - Matemática </option>
					<option value="5">5 - História</option>
					<option value="6">6 - Geografia </option>
					<option value="7">7 - Filosofia</option>
					<option value="8">8 - Sociologia</option>
					<option value="9">9 - Gramática</option>
					<option value="10">10 - Literatura</option>
					<option value="11">11 - Redação</option>
					<option value="12">12 - Inglês</option>
					<option value="13">13 - Espanhol</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>8. Assinale a sua SEGUNDA opção de matéria para receber mentoria.</label><br><br>
				<select id="questao8" name="questao8">
					<option value="" selected disabled>Segunda opção</option>
					<option value="1">1 - Física</option>
					<option value="2">2 - Química</option>
					<option value="3">3 - Biologia</option>
					<option value="4">4 - Matemática </option>
					<option value="5">5 - História</option>
					<option value="6">6 - Geografia </option>
					<option value="7">7 - Filosofia</option>
					<option value="8">8 - Sociologia</option>
					<option value="9">9 - Gramática</option>
					<option value="10">10 - Literatura</option>
					<option value="11">11 - Redação</option>
					<option value="12">12 - Inglês</option>
					<option value="13">13 - Espanhol</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>9. Você tem acesso a uma internet que te possibilite fazer vídeo chamadas e ver lives?</label><br><br><br>
				<select id="questao9" name="questao9">
						<option value="" selected disabled>Selecione</option>
						<option value="1" >Sim</option>
						<option value="0" >Não</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>10. Você tem disponibilidade 4 horas semanais para o programa?</label><br><br>
				<select id="questao10" name="questao10">
						<option value="" selected disabled>Selecione</option>
						<option value="1" >Sim</option>
						<option value="0" >Não</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>11. Qual a sua disponibilidade para a mentoria?</label><br><br>
				<select multiple id="questao11" name="questao11">
					<option value="" disabled>Selecione</option>
					<option value="manha" >Manhã</option>
					<option value="tarde" >Tarde</option>
					<option value="noite" >Noite</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>12. Qual é o seu nível de dificuldade para aprender?</label><br><br>
				<select id="questao12" name="questao12">
					<option value="" disabled selected>Selecione</option>
					<option value="1" >Não tenho dificuldade. Geralmente ensino o conteúdo para outras pessoas.</option>
					<option value="2" >Não tenho dificuldade para aprender.</option>
					<option value="3" >Consigo aprender sozinho com vídeos, sites ou livros.</option>
					<option value="4" >Consigo aprender com ajuda de outra pessoa.</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>13. Você já fez parte de algum ciclo do Mentoriza?</label><br><br>
				<select id="questao13" name="questao13">
					<option value="" selected disabled>Selecione</option>
					<option value="1" >Sim</option>
					<option value="0" >Não</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>14. Como você ficou sabendo desta iniciativa?</label><br><br>
				<select id="questao14" name="questao14">
					<option value="" selected disabled>Selecione</option>
					<option value="1" >Instagram</option>
					<option value="2" >Facebook</option>
					<option value="3" >WhatsApp</option>
					<option value="4" >Amigos</option>
					<option value="5" >LinkedIn</option>
					<option value="6" >Outros</option>
				</select>
			</div>
			<div class="input-field col s12">
				<label>15. Caso a resposta anterior seja "Outros".</label><br><br>
				<input type="text" id="questao15" name="questao15" placeholder="A outra plataforma é..." data-length = "50" maxlength = "50" disabled><br>
			</div>
			<div class="input-field col s12">
				<a class="btn waves-effect waves-light" style="background-color: #f46c3c" href="/"><i class="material-icons left">backspace</i>Voltar</a>
				<button class="btn waves-effect waves-light" style="background-color: #54c4db" type="submit" id="cadastrar">Enviar<i class="material-icons right">send</i></button><br><br>
			</div>
		</div>
	</form>
	<footer class="page-footer" style="background-color: #f88d34">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Mentoriza</h5>
					<p class="grey-text text-lighten-4">Conectando mentores e estudantes de forma gratuita para democratizar o acesso à educação durante a pandemia do coronavírus.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Eductus</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Sala Virtual Eductus (Moodle)</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright" style="background-color: #f46c3c">
			<div class="container">
				© 2020 Copyright - Todos os direitos reservados. <a class="grey-text text-lighten-4 right" href="#!">Eductus.me</a>
			</div>
		</div>
	</footer>
</body>
</html>