<!DOCTYPE html>
<html>
	<head>
	<title>Mentores - Processo Seletivo</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width = device-width, initial-scale = 1" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
	<script type="text/javascript" src="/materialize/js/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script>
	
		// Função para carregar scripts ao iniciar a página
		$(document).ready(function() {
			
			// Função validar data de nascimento
			function validarNascimento(){
				var nascimento = document.getElementById("nascimento").value;
				var partesNascimento = nascimento.split("/");
				var data = new Date(partesNascimento[2], partesNascimento[1] - 1, partesNascimento[0]);

				if (partesNascimento[0] > 31) {
					alert("Data de nascimento inválida! Dia digitado não existe.");
					return false;
				}
				if (partesNascimento[1] > 12) {
					alert("Data de nascimento inválida! Mês digitado não existe.");
					return false;
				}
				
				if(data > new Date()){
					alert("A data de nascimento é maior que a data atual!");
					return false;
				}
				
				return true;
			}
			
			// Função para mascarar notas enem (questao 8 e questao 10B) 
			$('.questao8, #questao10B').mask('000,0', {reverse: false});
			
			// Função para mascarar a data de nascimento
			$('#nascimento').mask('00/00/0000');
			
			// Funçã para mascarar telefone
			$('#telefone').mask('(00) 0 0000-0000');
			
			// Função para remover disabled antes do submit do form
			$('form').submit(function(e) {
				$(':disabled').each(function(e) {
				$(this).removeAttr('disabled');
				})
			});
			
			// Função para mudar a questao 3b
			mudar10B();
			
			// Função para mudar a questao 3b
			mudar3B();
			
			// Função para carregar todos os selects da página
			$('select').formSelect();
			
			// Função para carregar contadores de caracteres nos inputs
			$('input#questao5').characterCounter();
			
			// Função para validar o preenchimento de todos os campos
			$("#cadastrar").click(function validarTodosCampos(){
				var inputs = document.getElementsByTagName("input");
				var selects = document.getElementsByTagName("select");
			  
				for (var i = 0; i < inputs.length; i++) {
					inputs[i].style.background = "#ffffff";
					if (inputs[i].value == undefined || inputs[i].value == null || inputs[i].value == "") {
						if (inputs[i].id == "questao10B" && document.getElementById("questao10A").value == "nao") {
						}
						else{
							inputs[i].focus();
							inputs[i].style.background = "#ef9a9a";
							alert("Preencha o campo " + inputs[i].getAttribute("name"));
							return false;
						}
					}
				}
				
				for (var i = 0; i < selects.length; i++) {
					if (selects[i].value == undefined || selects[i].value == null || selects[i].value == "") {
						if (selects[i].id == "questao3B" && document.getElementById("questao3A").value != 1) {
						}
						else{
							alert("Preencha o campo " + selects[i].getAttribute("name"));
							return false;
						}
					}
				}
				
				if (validarNascimento() == false) {
					return false;
				}
				
				return true
			});
		});
		
		// Função para habilitar/desabilitar questão 10 B
		function mudar10B(){
			var questao10A = document.getElementById("questao10A").value;
			var questao10B = document.getElementById("questao10B");
			
			if (questao10A == "sim"){
				questao10B.disabled = false;
			}
			else {
				questao10B.disabled = true;
				questao10B.value = "";
			}
			$('select').formSelect();
		}
	
		// Função para habilitar questão 3B
		function mudar3B() {
			var questao3A = document.getElementById("questao3A").value;
			var questao3B = document.getElementById("questao3B");
			
			if (questao3A == 1){
				questao3B.disabled = false;
			}
			else {
				questao3B.disabled = true;
				questao3B.value = "";
			}
			$('select').formSelect();
		}
	  
	  // Função para carregar lista de cidade da API do IBGE 
		function carregarCidades(){
			$('select#cidade').empty();
			var uf = document.getElementById("estado").value;
			var listaCidades;
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open( "GET", "https://servicodados.ibge.gov.br/api/v1/localidades/estados/"+uf+"/distritos?orderBy=nome", false);
			xmlHttp.send(null);
			listaCidades = JSON.parse(xmlHttp.response);
			
			for (var i = 0; i < listaCidades.length; i++){
				if (i == 0){
					$('select#cidade').append($('<option>', {
					    value: "",
					    text: "Selecione",
					    disabled: true,
					    selected: true
					}));
				}
				$('select#cidade').append($('<option>', {
				    value: i,
				    text: listaCidades[i].nome
				}));
			   }
			$('select#cidade').formSelect();
		}
	  </script>
	  
	</head>
	<body class="container">
	
		<div class="card-panel" align="center" style="background-color: #0c80ac">
			<h1 style="font-size:4vw;"><font face="Holtwood One SC, serif" color="white">MENTORIZA</font></h1>
		</div>
		<nav>
			<div class="nav-wrapper" style="background-color: #54c4db">
				<div class="row">
					<div class="col s12">
						<a href="/" class="breadcrumb">Início</a> 
						<a href="/formMentores" class="breadcrumb">Processo Mentores</a> 
					</div>
				</div>
			</div>
		</nav>
		<br>
		<div style="text-align: justify; text-justify: inter-word;">
			A Programa de Mentoria "Educação em tempos de Covid" é uma iniciativa da Eductus em apoio ao corpo estudantil afetado pela suspensão das aulas por conta da Pandemia por Corona Vírus.<br><br> 
			Iremos te conectar a um(a) estudante que precisa de suporte de preparação para o Exame Nacional do Ensino Médio - ENEM e oferecer suporte em áreas de desenvolvimento pessoal.<br><br>
			O Programa será online e você pode estar em qualquer parte do país. Durante o Programa:<br>
			<ul>
				<li>Deverá realizar uma reunião semanal com o(a) mentorando(a). Note que o intuito dessas reuniões é guiar o mentorando a como estudar nessa matéria específica e responder dúvidas acadêmicas. Iremos te ajudar na produção de materiais informativos sobre empresas e plataformas de ensino gratuitos que podem ser utilizadas nos estudos;</li>
				<li>Terá acesso a atividades como oficinas e lives sobre temas como: saúde mental, produtividade e organização, entre outros.</li>
			</ul>
			Duração: 3 meses <br><br>
			O programa é gratuito<br><br>
			A disponibilidade de carga horária necessária para participação da mentoria é de 4 horas semanais. <br><br>
			Mentores e Mentorandos assinarão termos de compromisso e vão receber certificado.<br><br>
			Tem alguma dúvida? Envie um email para eductus.me@gmail.com
		</div>
		
		<br><br>
		
		<div class="card-panel grey lighten-1" align="left">
			<span><i class="material-icons left">assignment_ind</i>Dados pessoais</span>
		</div>
		
		<form action="/cadastrarMentores" class="col s12" method="POST">
			<div class="row">
				<div class="input-field col s12">
					<label>E-mail</label><br>
					<input type="text" id="email" name="email"><br>
				</div>
				<div class="input-field col s12">
					<label>Nome Completo</label><br>
					<input type="text" id="nome" name="nome"><br>
				</div>
				<div class="input-field col s12">
					<label>Número Celular</label><br>
					<input type="text" id="telefone" name="telefone" placeholder="(00) 9 0000-0000"><br>
				</div>	
				<div class="input-field col s12">
					<label>Data de Nascimento</label><br>
					<input type="text" id="nascimento" name="nascimento" placeholder="dd/mm/aaaa"><br>
				</div>
				<div class="input-field col s12">
					<label>Estado</label><br><br>
				    <select name="estado" id="estado" onchange="carregarCidades()">
				    	<option value="" disabled selected>Selecione</option>
					    <option value="AC">Acre</option>
					    <option value="AL">Alagoas</option>
					    <option value="AP">Amapá</option>
					    <option value="AM">Amazonas</option>
					    <option value="BA">Bahia</option>
					    <option value="CE">Ceará</option>
					    <option value="DF">Distrito Federal</option>
					    <option value="ES">Espírito Santo</option>
					    <option value="GO">Goiás</option>
					    <option value="RO">Rondônia</option>
					    <option value="RR">Roraima</option>
					    <option value="MA">Maranhão</option>
					    <option value="MS">Mato Grosso do Sul</option>
					    <option value="MT">Mato Grosso</option>
					    <option value="MG">Minas Gerais</option>
					    <option value="PA">Pará</option>
					    <option value="PB">Paraíba</option>
					    <option value="PR">Paraná</option>
					    <option value="PE">Pernambuco</option>
					    <option value="PI">Piauí</option>
					    <option value="RJ">Rio de Janeiro</option>
					    <option value="RN">Rio Grande do Norte</option>
					    <option value="RS">Rio Grande do Sul</option>
					    <option value="SC">Santa Catarina</option>
					    <option value="SP">São Paulo</option>
					    <option value="SE">Sergipe</option>
					    <option value="TO">Tocantins</option>
				    </select>
				</div>		
				<div class="input-field col s12">
					<label>Cidade</label><br><br>
					<select name="cidade" id="cidade">
						<option value="" disabled selected>Selecione</option>
					</select>
				</div>	
			</div>
				<div class="card-panel grey lighten-1" align="left">
					<span><i class="material-icons left">assignment_ind</i>Questionário</span>
				</div>
				<div class="row">
				<div class="input-field col s12">
					<label>1.Você já foi mentor(a) em algum ciclo passado?</label><br><br>
					<select id="questao1" name="questao1">
						<option value="" selected disabled>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
					</select>
				</div>
				<div class="input-field col s12">
					<label>2.Quantas horas, em média, você pode dedicar ao programa?</label><br><br><br>
					<select id="questao2" name="questao2">
						<option value="" selected disabled>Selecione</option>
						<option value="1">De 1 a 3 horas semanais</option>
						<option value="2">Entre 4 a 8 horas semanais</option>
						<option value="3">Entre 9 a 12 horas semanais</option>
						<option value="4">Entre 13 a 16 horas semanais</option>
						<option value="5">Mais de 16 horas semanais</option>
					</select>
				</div>
				<div class="input-field col s12">
					<label>3.A - Qual sua profissão?</label><br><br>
					<select id="questao3A" name="questao3A" onchange="mudar3B()">
						<option value="" selected disabled>Selecione</option>
						<option value="1">Estudante</option>
						<option value="2">Professor</option>
						<option value="3">Outros</option>
					</select>
				</div>	
				<div class="input-field col s12">
					<label>3.B - Informe o seu curso ou ano escolar.</label><br><br>
					<select id="questao3B" name="questao3B">
						<option value="" selected disabled>Selecione</option>
						<option value="1">Ensino médio - 1° Ano</option>
						<option value="2">Ensino médio - 2° Ano</option>
						<option value="3">Ensino médio - 3° Ano</option>
						<option value="4">Ensino médio - 4° Ano</option>
						<option value="5">Educação superior - 1° Período</option>
						<option value="6">Educação superior - 2° Período</option>
						<option value="7">Educação superior - 3° Período</option>
						<option value="8">Educação superior - 4° Período</option>
						<option value="9">Educação superior - 5° Período</option>
						<option value="10">Educação superior - 6° Período</option>
						<option value="11">Educação superior - 7° Período</option>
						<option value="12">Educação superior - 8° Período</option>
						<option value="13">Educação superior - 9° Período</option>
						<option value="14">Educação superior - 10° Período</option>
						<option value="15">Educação superior - 11° Período</option>
						<option value="16">Educação superior - 12° Período</option>
						<option value="17">Outros</option>
					</select>
				</div>
				<div class="input-field col s12">
					<label>4.Onde você trabalha? Se for estudante, informe o nome da Instituição em que estuda.</label><br><br>
					<input type="text" id="questao4" name="questao4"><br>
				</div>	
				<div class="input-field col s12">
					<label>5.Por que você quer atuar como mentor(a)?</label><br><br>
					<input type="text" id="questao5" name="questao5" data-length = "100" maxlength = "100"><br>
				</div>
				<div class="input-field col s12">
					<label>6.Assinale a sua PRIMEIRA opção de matéria para oferecer mentoria.</label><br><br>
					<select id="questao6" name="questao6">
						<option value="" selected disabled>Primeia opção</option>
						<option value="1">1 - Física</option>
						<option value="2">2 - Química</option>
						<option value="3">3 - Biologia</option>
						<option value="4">4 - Matemática </option>
						<option value="5">5 - História</option>
						<option value="6">6 - Geografia </option>
						<option value="7">7 - Filosofia</option>
						<option value="8">8 - Sociologia</option>
						<option value="9">9 - Gramática</option>
						<option value="10">10 - Literatura</option>
						<option value="11">11 - Redação</option>
						<option value="12">12 - Inglês</option>
						<option value="13">13 - Espanhol</option>
					</select>
				</div>
				<div class="input-field col s12">
					<label>7.Assinale a sua SEGUNDA opção de matéria para oferecer mentoria.</label><br><br>
					<select id="questao7" name="questao7">
						<option value="" selected disabled>Segunda opção</option>
						<option value="1">1 - Física</option>
						<option value="2">2 - Química</option>
						<option value="3">3 - Biologia</option>
						<option value="4">4 - Matemática </option>
						<option value="5">5 - História</option>
						<option value="6">6 - Geografia </option>
						<option value="7">7 - Filosofia</option>
						<option value="8">8 - Sociologia</option>
						<option value="9">9 - Gramática</option>
						<option value="10">10 - Literatura</option>
						<option value="11">11 - Redação</option>
						<option value="12">12 - Inglês</option>
						<option value="13">13 - Espanhol</option>
					</select>
				</div>
				<div class="input-field col s12">
					<label>8.Qual foi a sua nota no enem/vestibulares em relação às matérias que você quer mentorar?</label><br><br><br>
					<table class="responsive-table centered striped">
						<thead>
							<tr style="height: 10px;">
								<th style="height: 60px;"><label>Linguagens, códigos e suas tecnologias</label></th>
								<th style="height: 60px;"><label>Matemática e suas tecnologias</label></th>
								<th style="height: 60px;"><label>Ciências da natureza e suas tecnologias</label></th>
								<th style="height: 60px;"><label>Ciências Humanas e suas tecnologias</label></th>
								<th style="height: 60px;"><label>Redação</label></th>
								<th style="height: 60px;"><label>Inglês</label></th>
								<th style="height: 60px;"><label>Espanhol</label></th>
							</tr>
						</thead>
						<tbody>
							<tr style="white-space:nowrap;">
								<td><input type="text" id="questao8A" class="questao8" name="questao8A" placeholder="000,0"  style="border: none; text-align: center; height: 22px;"></td>
								<td><input type="text" id="questao8B" class="questao8" name="questao8B" placeholder="000,0"  style="border: none; text-align: center; height: 22px;"></td>
								<td><input type="text" id="questao8C" class="questao8" name="questao8C" placeholder="000,0"  style="border: none; text-align: center; height: 22px;"></td>
								<td><input type="text" id="questao8D" class="questao8" name="questao8D" placeholder="000,0"  style="border: none; text-align: center; height: 22px;"></td>
								<td><input type="text" id="questao8E" class="questao8" name="questao8E" placeholder="000,0"  style="border: none; text-align: center; height: 22px;"></td>
								<td><input type="text" id="questao8F" class="questao8" name="questao8F" placeholder="000,0"  style="border: none; text-align: center; height: 22px;"></td>
								<td><input type="text" id="questao8G" class="questao8" name="questao8G" placeholder="000,0"  style="border: none; text-align: center; height: 22px;"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="input-field col s12">
					<label>9.Tem experiência em ajudar estudantes nessa matéria?</label><br><br>
					<select id="questao9" name="questao9">
						<option value="" selected disabled>Selecione</option>
						<option value="sim" >Sim</option>
						<option value="nao" >Não</option>
					</select>
				</div>
				<div class="input-field col s12">
					<label>10.Pretendemos montar uma banca de redação para apoiar os mentorandos na produção textual para o ENEM. Caso você seja professor(a), não é necessário informar a nota.</label><br><br><br><br>
					<div class="input-field col s12">
						<label>10.A - Tem interesse em compor esta banca?</label><br><br>
						<select id="questao10A" name="questao10A" onchange="mudar10B()">
							<option value="" selected disabled>Selecione</option>
							<option value="sim" >Sim</option>
							<option value="nao" >Não</option>
						</select>
					</div>
					<div class="input-field col s12">
						<label>10.B - Informe a sua última nota da redação do enem.</label><br><br>
						<input type="text" id="questao10B" name="questao10B" placeholder="000,0"><br>
					</div>
				</div>
				<div class="input-field col s12">
					<label>11.Você tem acesso a uma internet que te possibilite fazer vídeo chamadas e ver lives?</label><br><br><br>
					<select id="questao11" name="questao11">
							<option value="" selected disabled>Selecione</option>
							<option value="sim" >Sim</option>
							<option value="nao" >Não</option>
					</select>
				</div>
				<div class="input-field col s12">
					<label>12.Qual a sua disponibilidade para a mentoria?</label><br><br>
					<select multiple id="questao12" name="questao12">
						<option value="" disabled>Selecione</option>
						<option value="manha" >Manhã</option>
						<option value="tarde" >Tarde</option>
						<option value="noite" >Noite</option>
					</select>
				</div>
				<div class="input-field col s12">
					<label>13.Como você ficou sabendo desta iniciativa?</label><br><br>
					<select id="questao13" name="questao13">
						<option value="" selected disabled>Selecione</option>
						<option value="instagram" >Instagram</option>
						<option value="facebook" >Facebook</option>
						<option value="whatsApp" >WhatsApp</option>
						<option value="amigos" >Amigos</option>
						<option value="outros" >Outros</option>
					</select>
				</div>
				<div class="input-field col s12">
					<a class="btn waves-effect waves-light" style="background-color: #f46c3c" href="/"><i class="material-icons left">backspace</i>Voltar</a>
					<button class="btn waves-effect waves-light" style="background-color: #54c4db" type="submit" id="cadastrar">Enviar<i class="material-icons right">send</i></button><br><br>
				</div>
			</div>
		</form>
	</body>
</html>