<!DOCTYPE html>
<html>
<head>
  <title>Mentoriza</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width = device-width, initial-scale = 1" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
	<script type="text/javascript" src="/materialize/js/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    $(document).ready(function() {
    	
    	//Função para carregar o sidenav
    	$(document).ready(function(){
    		$('.sidenav').sidenav();
  		});
    	
    	// Função para carregar slidebar
    	$(".dropdown-trigger").dropdown();
      	 
    	//
    	$('select').material_select();
    });
  </script>
  
</head>
<body class="container">
	<div class="card-panel" align="center" style="background-color: #0c80ac;">
		<div class="col">
			<div class="col s1">
				<img alt="logo" src="/img/logoOficial.png" width="120vw" height="120vw">
			</div>
			<div class="col s2"></div>
			<div class="col s9">
				<h1 style="font-size:4vw;"><font face="Holtwood One SC, serif" color="white">MENTORIZA</font></h1>
			</div>
		</div>
	</div>
	<nav>
		<div class="nav-wrapper" style="background-color: #54c4db">
			<div class="row">
				<div class="col s12">
					<a href="/" class="breadcrumb">Início</a> 
				</div>
			</div>
		</div>
	</nav>
	<br>
	<div class="row">
		<div class="col s12 m12">
			<div class="card">
				<div class="card-image">
					<span style="color: #54c4db"><i class="material-icons left large">assignment_ind</i><b>Processo Mentores</b></span>
				</div>
				<div class="card-content">
					<p style="text-align: justify; text-justify: inter-word;">Processo seletivo para escolha de mentores, que irão
						compartilhar conhecimentos e auxiliar na preparação dos mentorandos
						para a prova do ENEM.</p>
				</div>
				<div class="card-action">
					<a href="/formMentores">Inscreva-se</a>
				</div>
			</div>
		</div>
		<div class="col s12 m12">
			<div class="card">
				<div class="card-image">
					<span style="color: #54c4db"><i class="material-icons left large">assignment_ind</i><b>Processo Mentorandos</b></span>
				</div>
				<div class="card-content">
					<p style="text-align: justify; text-justify: inter-word;">Processo seletivo para escolha de mentorandos, os quais irão
						receber auxilio em diversas disciplinas com intuíto de melhorar o
						desempenho no ENEM.</p>
				</div>
				<div class="card-action">
					<a href="/formMentorandos">Inscreva-se</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer" style="background-color: #f88d34">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Mentoriza</h5>
					<p class="grey-text text-lighten-4">Conectando mentores e estudantes de forma gratuita para democratizar o acesso à educação durante a pandemia do coronavírus.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Eductus</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Sala Virtual Eductus (Moodle)</a></li>
						<li><a class="grey-text text-lighten-3" href="https://www.instagram.com/mentoriza/">Instagram</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright" style="background-color: #f46c3c">
			<div class="container">
				© 2020 Copyright - Todos os direitos reservados. <a class="grey-text text-lighten-4 right" href="#!">Eductus.me</a>
			</div>
		</div>
	</footer>
</body>
</html>