<!DOCTYPE html>
<html>
<head>
  <title>The Materialize Selects Example</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
  
</head>
<body class="container">

	<div class="card-panel teal lighten-2" align="center">
		<h1>Teacher Match</h1>
	</div>
	<div class="collection">
		<a href="/" class="collection-item"><i class="material-icons left">home</i>Início</span></a>
		<a href="/formMentores" class="collection-item"><i class="material-icons left">assignment_ind</i>Processo Seletivo - Mentores</span></a>
		<a href="/formMentorandos" class="collection-item"><i class="material-icons left">assignment_ind</i>Processo Seletivo - Mentorandos</span></a>
	</div>
</body>
</html>